body {
  height: auto;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #e4f4ff
}

.main-content {
  width: 100vw;
  padding-top: 15px;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.home-wrapper > h3 {
  color: grey;
  margin-bottom: 5px;
  margin-left: 5%;
}

#capitolImgContainer {
  position: absolute;
  left: 0;
  z-index: -1;
  top:6vh;
  overflow: hidden;
  width: 100vw;
  height: 100%;
  background-color: #296275;
}

#capitolImg {
  height: 100vh;
  min-height: 96vh;
}

.capitol-flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width:100vw;
}

.over-capitol {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  height: 90vh;
}

#aboutVideo {
  margin-top: 5vh;
  height: 40vh;
  width: 90%;
}

#landing {
  width: 100vw;
  height: 100%;
  margin-right: 3vh;
  margin-left: auto;
}

#login-download {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 75%;
  padding-top: 10vh;
}

#itunes-link {
  width: 60%;
  padding-top: 5vh;
}

#appStore {
  width: 100%;
}

.legal {
  padding-left: 4vw;
  padding-right: 4vw;
  background-color: white;
  width: 100vw;
  height: 100%;
  z-index: 10000000;
}

.legal h1 {
  text-align: center;
}

.landing-text {
  color: white;
}

.ui.container {
  margin-left: 0!important;
  margin-right: 0!important;
}

.auth-form{
  min-width: 300px;
  width: 50vw;
  max-width: 90vw;
  min-height: 400px;
  height: 50vh;
  max-height: 75vh;
  background: inherit;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.auth-form:before{
  min-width: 320px;
  width: 55vw;
  max-width: 95vw;
  min-height: 420px;
  height: 55vh;
  max-height: 80vh;
  content: "";
  position: absolute;
  top: -1vw;
  left: -1vw;
  background: inherit;
  box-shadow: inset 0 0 0 50vh rgba(255,255,255,0.5);
  filter: blur(10px);
  border: 1px solid red;
}

.auth-form form {
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.auth-form input {
  width: 100%;
  margin-bottom: 3px;
  border: 0px
}

.auth-submit {
  background-color: #2b5b87;
  color: white;
}

.auth-form button {
  width: 100%;
  background-color: rgba(255,255,255,0);
  color: #2b5b87;
  border: 0px
}

.logs-white-round {
  min-width: 250px;
  width: 50vw;
  background-color: white;
  border-radius: 30px;
  margin-bottom: 20px;
}

#logs-header {
  color: grey;
  margin-bottom: 5px;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
  width:100%;
}

#add-log-button {
  margin-right: 10%;
}

#log-modal {
  min-height: 300px;
  height: 40vh;
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
}
/*  new log form */

#new-log-form {
  min-width: 250px;
  min-height: 50%;
}

#new-log-hours {
  width: 80%;
  font-size: 200%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#num-hours-value {
  display: flex;
}

#decimal {
  width: 20px;
  font-size: 50%;
  display: flex;
  align-items: center;
}

#new-log-attribute-container {
  margin-bottom: 10px;
}

#new-log-attribute-container p {
  min-width: 300px;
  margin-bottom: 0;
  border: 2px solid white;
  border-top: none;
  color: grey;
  font-size: 80%;
  font-style: italic;
}

p.new-log-attribute.set {
  color: #2b5b87!important;
}

.new-log-optional {
  font-size: 80%;
  border-width: thin;
}

button.new-log-optional {
  border: none;
  padding-top: 2px;
  padding-bottom: 2px;
}

.new-log-optional.submit {
  background-color: #2b5b87;
  color: white;
}

.new-log-optional.cancel {
  background-color: white;
  color: #2b5b87;
}

#add-log-submit {
  width: 100%;
  font-size: 150%;
}


.log {
  display: flex;
  align-items: center;
  padding: 3px;
  border-bottom: 0.5px solid grey;
  min-height: 100px;
  height: minmax(10vh, auto);
  font-size: 90%;
}

.log-description {
  min-width: 166px;
  width: 42vw;
  height: 100%;
  padding: 2px;
  padding-left: 10px;
}

.log-description ul {
  margin: 0;
  -webkit-padding-start: 20px;
}

.log-date {
  min-width: 40px;
  width: 4vh;
  text-align:right;
  color: grey;
}

.log-hours {
  min-width: 40px;
  width: 4vh;
  min-height: 40px;
  height: 4vh;
  background-color: green;
  border-radius: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 150%;
  margin-left: 2px;
}

.log li {
  font-size: 80%;
  line-height: 100%;
  margin-top:2px;
}

.log:last-child {
  border-bottom: 0;
}


#progress-container {
  min-height: 100px;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#progress-container h1 {
  margin-left: 5%;
  margin-right: 5%;
}

#progress-bar-container {
  max-width:90%;
  width: 90%;
  background-color: grey;
  margin-left: 5%;
  margin-right: 5%;
  height: 40%;
  display:grid;
  border-radius: 50px;
  overflow:hidden;
}

#progress-so-far {
  background-color:green;
  display: flex;
  justify-content: flex-end;
  border-radius:50px;
}

#progress-label-circle {
  background-color: green;
  color: white;
  min-width:40px;
  width: 12vh;
  height:100%;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  border:1px solid white;
  border-radius:100%;
}

#progress-remainder {
  background-color: grey;
  height:100%;
  color: white;
  display:flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}

#events-summary-container {
  display:inline-flex;
  overflow-x: scroll;
  padding: 20px 0px;
}

#events-summary-container::-webkit-scrollbar {
  display: none!important;
}

.event-summary-small {
  border-radius: 5px;
  overflow:hidden;
  height: 140px;
  min-width:200px;
  width: 200px;
  margin: 5px;
}

.event-summary-small img {
  width: 100%;
  min-height: 100%;
}

.events-wrapper {
  min-width: 320px;
  width: 80vw;
}

#all-events-headers {
  margin-left: 5%;
}
#all-events-headers > h1 {
  color: grey;
}

.details-overlay {
  width: 100%;
  height: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  top: -100%;
  background-color: rgba(0,0,0,0.4);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details-overlay h5 {
  width: 100%;
  text-align: center;
}
.details-overlay h2 {
  font-size: 1.2em;
  width: 100%;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0;
}

.img-container-centered {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow:hidden;
}

.img-container-centered > img {
  height: 100%;
}

.event-summary-large {
  border-radius: 5px;
  overflow:hidden;
  min-height: 450px;
  height: 60vh;
  min-width:300px;
  width: 300px;
  margin: 5px;
  -webkit-box-shadow: 1px 1px 0.5px 0.5px grey, -1px -1px 0.5px 0.5px grey;
  -moz-box-shadow: 1px 1px 0.5px 0.5px grey, -1px -1px 0.5px 0.5px grey;
  box-shadow: 1px 1px 0.5px 0.5px grey, -1px -1px 0.5px 0.5px grey;
}

.event-location {
  position: absolute;
  width: 50px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.48);
  margin-left: 250px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
}

.event-sum-image {
  height: 60%;
  overflow: hidden;
}

.event-summary-info {
  background-color: white;
  height: 40%;
  padding: 3px;
}

#events-all-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 5px;
}

/* SELECTED EVENT */

#selected-event {
  min-height: 400px;
  min-width: 200px;
  height: 90vh;
  width: 80vw;
  padding-left: 5%;
  padding-right: 5%;
  /* padding-top: 2.5%; */
  /* padding-bottom: 2.5%; */
  display: grid!important;
  grid-template-rows: 2vh minmax(150px, 40%) auto 10% 1vh;
  grid-template-columns: 5% 90% 5%;
  grid-template-areas: "mt mt mt" "ml top mr" "ml center mr" "ml bottom mr" "mb mb mb"
}

#selected-event *::-webkit-scrollbar {
  display: none!important;
}

#selected-event-img-cont {
  grid-area: top;
  /* padding-top: 2vh; */
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#selected-event-img-cont > img {
  width: auto;
  min-width: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}

#selected-event-info {
  grid-area: center;
  max-height: 100%;
  overflow-y: scroll;
  word-wrap: break-word;
}

#selected-event-sub-header * {
  margin:0;
}

#attendees-container {
  min-height: 52px;
  max-height: calc(9vh + 12px);
  width: 100%;
  display: flex;
  overflow-x: scroll;
}

.attendee-icon {
  min-height: 40px;
  max-height: 9vh;
  min-width: 50px;
  width: 10%;
  margin-right: 5px;
  margin-top: 2px;
}

.attendee-icon > div.img-container-centered {
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  min-width: 38px;
  max-width: 7.2vh;
  min-height: 38px;
  max-height: 7.2vh;
}

.attendee-icon > div.img-container-centered > img {
  min-height: 38px;
  max-height: 7.2vh;
}

.attendee-name {
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  min-height: 2px;
  max-height: 1.8vh;
}

#attend-button {
  grid-area: bottom;
  background-color: #2b5b87;
  color: white;
  height: 80%;
  width: 60%;
  min-width: 200px;
  margin: auto;
  border: none;
  border-radius: 10px;
}

/* SPOTLIGHTS */
.spotlights-wrapper > h1 {
  color: grey;
  margin-right: auto;
  margin-left: 5%;
}

.spotlights-wrapper {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  width: 80vw;
}

.spotlight {
  border-radius: 5px;
  overflow:hidden;
  min-width:300px;
  width: 90%;
  margin: 5px;
  -webkit-box-shadow: 1px 1px 0.5px 0.5px grey, -1px -1px 0.5px 0.5px grey;
  -moz-box-shadow: 1px 1px 0.5px 0.5px grey, -1px -1px 0.5px 0.5px grey;
  box-shadow: 1px 1px 0.5px 0.5px grey, -1px -1px 0.5px 0.5px grey;
}

.spotlight-info {
  padding: 10px;
}

.spotlight-info > h2, h6 {
  text-align: center;
  margin: 0;
}

.spotlight-category {
  color: grey;
  font-style: italic;
}
