body {
  height: auto;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #e4f4ff
}

#capitolImgContainer {
  position: absolute;
  left: 0;
  z-index: -1;
  top:6vh;
  overflow: hidden;
  width: 100vw;
  height: 100%;
  background-color: #296275;
}

#capitolImg {
  height: 100vh;
  min-height: 96vh;
}

.capitol-flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width:100vw;
}

.over-capitol {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  height: 90vh;
}

#aboutVideo {
  margin-top: 5vh;
  height: 40vh;
  width: 90%;
}

#landing {
  width: 100vw;
  height: 100%;
  margin-right: 3vh;
  margin-left: auto;
}

#login-download {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 75%;
  padding-top: 10vh;
}

#itunes-link {
  width: 60%;
  padding-top: 5vh;
}

#appStore {
  width: 100%;
}

.legal {
  padding-left: 4vw;
  padding-right: 4vw;
  background-color: white;
  width: 100vw;
  height: 100%;
  z-index: 10000000;
}

.legal h1 {
  text-align: center;
}

.landing-text {
  color: white;
}

.ui.container {
  margin-left: 0!important;
  margin-right: 0!important;
}

.auth-form{
  min-width: 300px;
  width: 50vw;
  max-width: 90vw;
  min-height: 400px;
  height: 50vh;
  max-height: 75vh;
  background: inherit;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.auth-form:before{
  min-width: 320px;
  width: 55vw;
  max-width: 95vw;
  min-height: 420px;
  height: 55vh;
  max-height: 80vh;
  content: "";
  position: absolute;
  top: -1vw;
  left: -1vw;
  background: inherit;
  box-shadow: inset 0 0 0 50vh rgba(255,255,255,0.5);
  filter: blur(10px);
  border: 1px solid red;
}

.auth-form form {
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.auth-form input {
  width: 100%;
  margin-bottom: 3px;
  border: 0px
}

.auth-submit {
  background-color: #2b5b87;
  color: white;
}

.auth-form button {
  width: 100%;
  background-color: rgba(255,255,255,0);
  color: #2b5b87;
  border: 0px
}

/* second try */
#progress-container {
  min-width: 250px;
  width: 50vw;
  min-height: 100px;
  height: 30vh;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#progress-container h1 {
  margin-left: 5%;
  margin-right: 5%;
}

#full-progress-bar {
  max-width:90%;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  height: 40%;
  display: flex;
}

#begin-cap {
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
  background-color:green;
}

#goal {
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5%;
  color:white;
  position:relative;
  left: -12vh;
}
.progress-bar-cap {
  height: 100%;
  min-width: 40px;
  min-width: 12vh;
  width: 12vh;
  background-color: grey;
}

#rect-progress-bar {
  width: 100%;
  height: 100%;
  background-color: grey;
  position: relative;
  display: flex;
  left: -6vh;
}


#progress-completed {
  background-color: green;
  height: 100%;
}

#progress-hours {
  height: 100%;
  min-width: 40px;
  min-width: 12vh;
  width: 12vh;
  border: white 2px solid;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  color: white;
  position: relative;
  left: -6vh;
}


/*  third try */
.bar {
  margin-left: 5%;
  margin-right: 5%;
  height: 40%;
  border-radius: 50px;
  display: flex;
  justify-content: flex-end;
  -ms-align-items: center;
  align-items: center;
  padding-right:25px;
  color:white;
}
#background-progress-bar {
  max-width:90%;
  width: 90%;
  background-color: grey;
}
#progress-completed-layer {
  background-color: green;
  position:relative;
  top:-39%
}
